.container {
  height: 100vh;
  display : grid;
  grid-template-rows : 15% 1fr 1fr;
  grid-template-columns: 100vw;
  gap: 1rem;
}

.postListWrapper {
  width: 100vw; 
  height: 100%;
  overflow-y: scroll;
  scroll-behaviour: smooth;
  background-color : #222222;
}
.gamechooser {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  padding: 20px !important;
  gap: 10px !important;
  overflow-x:auto !important;
  overflow-y: hidden !important;
  scroll-behavior: smooth !important; 
  margin-top: 3em;
}
  
.gamechooserItem {
  padding: 10px !important;
  cursor: pointer !important;
  background-color: #fc6621 !important;
  border-radius: 5px !important;
  transition: border 0.3s ease !important;
  border: 1px solid white !important;
  flex-shrink: 0 !important;
}

.untoggled {
  background-color: #363534!important;
}

@media only screen and (min-width: 992px) {
  .gamechooserItem {
    width: fit-content;
    white-space: nowrap;
    
  }
.gamechooser { 
    justify-content: center !important;
  }
}
