.container {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 1fr 1fr;
  grid-template-columns: 100vw;
  gap: 1rem;
}

.postListWrapper {
  width: 100vw;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: transparent;
}

.gamechooser {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  padding: 20px !important;
  gap: 10px !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  scroll-behavior: smooth !important;
  margin-top: 3em;
}

.gamechooserItem {
  padding: 10px !important;
  cursor: pointer !important;
  background-color: #fc6621 !important;
  border-radius: 5px !important;
  transition: border 0.3s ease !important;
  border: 1px solid white !important;
  flex-shrink: 0 !important;
}

.untoggled {
  background-color: #363534 !important;
}

.YourGroups {
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    display: flex;
    font-size: large;
    font-weight: bold;
    text-align: left;
    justify-content: space-between;
    margin-top: 4%;
    border: 1px solid white;
    color: black;
    border-radius: 5px;
    padding: 1%;
    width: 90vw;
    height: 4rem;
    cursor: pointer;
    background: linear-gradient(45deg, #FFD700, #C99700, #8C6A00);
    box-shadow: 5px 5px 5px 5px black;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.createbutton {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: flex-end;
}

@media only screen and (min-width: 992px) {
  .gamechooserItem {
    width: fit-content;
    white-space: nowrap;
  }

  .gamechooser {
    justify-content: center !important;
  }

  .YourGroups {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-top: 1%;
      width: 60vw;
      box-shadow: none;
    }
  }

  .postListWrapper {
    border-radius: 25px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 17vw;
    background-color: #222222;
  }


}