.details_inputs {
    form {
        margin-top: 15vh;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        input,
        select {
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            height: 50px;
            width: 300px;
            background-color: #fc6621;

            option {
                cursor: pointer;
                background-color: #f07339;
            }
        }
    }
}

.very_basic_details {
    padding: 10px;
    position: absolute;
    right: 20vh;
    bottom: 170px;
    height: 600px;
    width: 1200px;
    background-color: rgba(243, 247, 247, 0.144);
}

.create_listing {
    position: absolute;
    bottom: 100px;
    right: 50px;
    padding: 5px;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
    background-color: #fc6621;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.title_and_team_size {
    display: flex;
    margin-top: 30px;
    gap: 10px;
}

.title {
    position: absolute;
    top: -25px;

}

.creatorname,
.team_size {
    position: absolute;

}

.team_size {
    right: 10px;
}

.tags {
    margin-top: 50px;
}

.description {
    margin-top: 20px;
    min-height: 100px;
    max-height: 400px;
}

.tags,
.description {
    border: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px;
}

@media only screen and (max-width:800px) {

    .details_inputs {
        form {
            margin-top: 40vh;
            margin-left: 15%;

            input,
            select {
                font-size: 20px;
            }
        }
    }

    .very_basic_details {
        padding: 10px;
        position: absolute;
        right: 3.5px;
        height: 750px;
        width: 400px;
        background-color: rgba(243, 247, 247, 0.144);
    }

    .create_listing {
        right: 30%;
        font-size: 1.5rem;
    }

    .title {
        left: 0;
        margin-left: 50%;
        font-size: 50px;
        top: -45px;
    }

    .creatorname,
    .team_size {
    font-size: 30px;    
    }

    .tags {
        margin-top: 70px;
    }

    .description {
        margin-top: 20px;
        min-height: 100px;
        max-height: 200px;
        overflow: scroll;
        text-wrap: wrap;
    }

    .tags,
    .description {
        border: 1px solid rgba(0, 0, 0, 0.349);
        border-radius: 5px;
    }

}