
.gamechooser{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #7c7a7a;
    margin-top: 120px;
}
.game {
    background-image: url("../../../assets/test.png");
    background-repeat: no-repeat;
    
    height: 130px;
    width: 190px;
}
