.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(87, 80, 80, 0.349);
    width: 30%;
    height: 400px;
  
}
label{
    font-size: 20px;
    padding-right: 10px;
}
.loginContainer{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
}
.loginInput, .passwordInput{
    background-color: transparent;
    border-radius: 20px;
    border: white 2px solid;
    height: 30px;
    width: 250px;
    &::placeholder{
        padding-left: 10px;
    }
}
.LoginButton{
    padding: 10px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #fc6621;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;

}
@media only screen and (max-width: 800px) {
    .loginContainer{
        margin-top: 20vh;
    }
    .loginForm{
     width: 50%;
    }
    .loginInput, .passwordInput{
    background-color: transparent;
    border-radius: 20px;
    border: white 2px solid;
    height: 30px;
    width: 250px;
    }
  

}