.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(87, 80, 80, 0.349);
    width: 40%;
    height: 500px;

    a {
        text-decoration: none;
        color: #fc6621;
    }

    a:hover {
        color: #f7d2c4;
        text-decoration: underline;
    }
}

label {
    font-size: 20px;
    padding-right: 10px;
}

.registerContainer {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
}

.registerEmail,
.registerInput,
.registerPassword {
    background-color: transparent;
    border-radius: 20px;
    border: white 2px solid;
    height: 30px;
    width: 250px;
    color: white;
    padding-left: 0.06rem;
    text-indent: 10px;
    &:placeholder-shown {
        padding-left: 10px;
        color: white;
    }

    &:focus {
        outline: 0.07rem solid white;
    }


}

.registerEmail {
    margin-left: 35px;
}

.registerButton {
    padding: 10px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #fc6621;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 300px;

}

.registerButton:hover {
    background-color: #c26209;
}

@media only screen and (max-width: 992px) {
    .registerContainer {
        margin-top: 20vh;
        margin: auto;
        height: 90%;
        display: flex;
        margin-top: 2em;
        padding: 2rem;
    }

    .registerForm {
        width: 80%;
        height: inherit;
        padding: 2rem;
    }

    .registerInput,
    .registerPassword,
    .registerEmail {
        margin: auto;
        background-color: transparent;
        border-radius: 20px;
        border: white 2px solid;
        height: 30px;
        width: 250px;
        display: flex;
        align-self: center;
        justify-self: center;
    }
 


}