.container{
display:flex;    
flex-direction: column;
align-items: center;
background:rgba(250, 250, 250, 0.411); 
}
.creatorAndLimit{
    display: flex;
    margin-top: 2%;
    width: 50%;
    justify-content: space-between;
}
.Content{
    margin-top: 2%;
    overflow-y: auto;
    max-width: 50%;
}