.desktop{
    display: flex;
    justify-content: center;
    position: relative;    
    >div{
        height: 70px;
        display: flex;
        gap: 20px;
        background-color:rgba(19, 16, 16, 0.877);
        width: 100%;
        justify-content: center;
    }
    a , .buttonstyle {
        font-size: 25px;
        text-transform: uppercase;
        color: white;
        height: 40px;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        transition: 0.3s ease-in-out;
        align-self: center;
    }

}
.links{
   
    a:hover,.buttonstyle:hover{
        border-bottom: 2px solid white;
        cursor: pointer;
    }
}

.buttonstyle{
    font-size: 25px;
    background-color: transparent;
    border: none;
}

    


.logo{
    position: absolute;
    left: 20px; 
    top: 15px;
    
    :hover{
        cursor: pointer;
       
    }
} 


/* ---- MOBILE NAVBAR ---- */
.mobile {
    position: relative;
}

/* A hamburger ikon alapállapotban */
.hambi {
    top: 25px;
    left: 10px;
    width: 40px;
    height: 5px;
    background-color: white;
    position: relative;
    transition: all 0.3s;
    cursor: pointer;
    margin: 10px;
}

/* Hamburger ikon animáció */
.hambi::before,
.hambi::after {
    content: "";
    width: 40px;
    height: 5px;
    background-color: white;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.hambi::before {
    top: -12px;
}

.hambi::after {
    top: 12px;
}

/* Amikor a hamburger menü nyitva van */
.hambi.open {
    background-color: transparent;
}

.hambi.open::before {
    transform: translateY(12px) rotate(45deg);
}

.hambi.open::after {
    transform: translateY(-12px) rotate(-45deg);
}

/* Mobil menü */
.mobile .links {
    height: 240px;
    gap: 35px;
    font-size: 25px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fc6621;
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}

/* Megnyitott állapot */
.mobile .links.open {
    left:10px;
    border: 2px solid rgb(218, 211, 211);
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}


/* Menü linkek */
.mobile .links a ,  .buttonstyle{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 0;
    transition: 0.3s;
}

.mobile .links a:hover, .buttonstyle:hover {
    background-color: #ac593960;
    border-radius: 20px;
     color: #e7c32f;
}
