*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
}
.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.680),rgba(0, 0, 0, 0.680)) , url("./assets/SiteBackground.jpg"); 
  background-repeat: no-repeat;
  background-size: cover;
  height:936.4px;
  width: 100%;

}

